<!-- Navbar-->
<nav class="navbar navbar-expand-md">
    <div class="navbar-nav mr-auto ">
        <a href="http://google.com" class="logo">PEER SAR MALAM</a><!-- TO ADD -->
    </div>
    <div class="navbar-nav ml-auto ">
        <a href="http://google.com" class="nav-item nav-link active">Learn more</a>
        <a href="http://google.com" class="nav-item nav-link">About</a>
        <a href="http://google.com" class="nav-item nav-link">Contact</a>
        <a href="http://google.com" class="nav-item nav-link">Blog</a>
    </div>
</nav>