<body id="request">
<div class="container-submit mx-auto" style="width: 600px;">
  <form style="margin-top: 30px" [formGroup]="loanForm">
      <div class="row mx-auto">
          <img src="img/one.png" style="width: 40px; height: 40px;">
          <h5 class="font-weight-light" style="margin-top: 10px; margin-left: 30px;">PERSONAL INFORMATION</h5>
      </div>
      <br>
      <div class="card special-card">
          <div class="card-body">
              <div class="container form-fix">
                  <div class="row">
                        <div class="col">
                            <h6 class="font-weight-light">First Name</h6>
                            <input class="form-control" id="firstname" required="firstname" placeholder="" formControlName="firstname">
                        </div>                     
                       <div class="col">
                           <h6 class="font-weight-light">Last Name</h6>
                           <input class="form-control" id="lastname" required="lastname" placeholder="" formControlName="lastname">
                       </div>
                  </div>
                  <br>

                  <div class="row">
                    <div class="col">
                        <h6 class="font-weight-light">Job Title</h6>
                        <input class="form-control" id="jobtitle" required="jobtitle" placeholder="" formControlName="jobtitle">
                    </div>                     
                   <div class="col">
                       <h6 class="font-weight-light">Company</h6>
                       <input class="form-control" id="company" required="company" placeholder="" formControlName="company">
                   </div>
              </div>
                  <br>

                  <div class="row">
                      <div class="col-4">
                          <h6 class="font-weight-light">Years on job</h6>
                          <input class="form-control" type="number" value="2" id="yearsonjob" formControlName="years">
                      </div>
                      <div class="col">
                          <h6 class="font-weight-light">Phone Number</h6>
                          <input class="form-control" id="phonenumber" required="required" placeholder="" formControlName="phonenumber">
                      </div>
                  </div>
                  <br>
                  <div class="row">
                      <div class="col">
                          <h6 class="font-weight-light">Account Number</h6>
                          <input class="form-control" id="accountno" required="required" placeholder="1234 5678 898" formControlName="accountnumber">
                      </div>
                  </div>
                  <br>

                  <br>

              </div>
          </div>
      </div>

      <br>

      <!--LOAN CARD -->
      <div class="row mx-auto">
          <img src="img/two.png" style="width: 40px; height: 40px;">
          <h5 class="font-weight-light" style="margin-top: 10px; margin-left: 30px;">LOAN INFORMATION</h5>
      </div>
      <br>
      <div class="card">
          <div class="card-body">
              <div class="container form-fix">
                  <h6 class="font-weight-light">Image of desired item</h6>
                  <div class="custom-file">
                      <label for="uploadfile"></label>
                      <input type="file" class="custom-file-input" id="image">
                      <label class="custom-file-label" for="image">Upload the image</label>
                  </div>
                  <br>
                  <div class="row">
                      <div class="col">
                          <div class="form-group" style="width: 100%;">
                              <label for="comment" style="margin-left:5px;">Detailed description of your desired item</label>
                              <textarea class="form-control" rows="5" id="comment" formControlName="description"></textarea>
                          </div>
                      </div>
                  </div>
                  <br>

                  <div class="row">
                      <div class="col">
                          <div class="form-group">
                              <select class="form-control" id="loancategory" onChange="loancategory_func();">
                                  <option value="" disabled selected>Select your loan category</option>
                                  <option>Home Loan</option>
                                  <option>Car Loan</option>
                                  <option>Personal Loan</option>
                                  <option>Education Loan</option>
                                  <option>Others: please specify</option>
                              </select>
                              <br>
                              <div class="form-group">
                                  <input class="form-control" id="showothers" placeholder="ie. Wedding loan" style="display:none;" formControlName="loancategory">
                              </div>
                          </div>


                      </div>
                  </div>



                  <div class="row">
                      <div class="col">
                          <label for="amount">Amount</label>
                          <div class="input-group mb-2 mr-sm-2">
                              <div class="input-group-prepend">
                                  <div class="input-group-text">$</div>
                              </div>
                              <input class="form-control" id="amount" placeholder="" formControlName="amount">
                          </div>
                      </div>
                      <div class="col">
                          <label for="interest">Interest</label>
                          <div class="input-group mb-2 mr-sm-2">
                              <input class="form-control" id="interest" placeholder="5" formControlName="interest">
                              <div class="input-group-prepend">
                                  <div class="input-group-text">%</div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <br>
                  <div class="row">
                      <div class="col-5">
                          <h6 class="font-weight-light">Duration of loans in months</h6>
                          <input class="form-control" type="number" value="60" id="example-number-input" formControlName="duration">
                      </div>

                      <div class="col">
                          <fieldset disabled>
                              <div class="form-group">

                                  <h6 class="font-weight-light">Monthly Installment Calculated</h6>

                                  <input type="text" id="monthlyinstallment" class="form-control" placeholder="$135.67" formControlName="monthlyinstallment">
                              </div>
                          </fieldset>
                      </div>
                  </div>
              </div>

          </div>
      </div>
      <br>
      <button class="btn btn-outline-success float-right" id="submitbutton" type="submit" style="margin-bottom: 10px" onclick="loadingbutton()">Submit Loan</button>

      <button class="btn btn-outline-success float-right" type="button" id="loadingbutton" disabled style="margin-bottom: 10px" (click)="submitLoan()">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </button>
  </form>
</div>
</body>